<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<style> .site-header {font-family: sans-serif;} .site-footer {font-family: sans-serif;}</style>
  {%- include views/header.html -%}

  {%- include extensions/hashlocate.html -%}

  <style> .theme-toggle {display: none;}</style>
  {%- include extensions/theme-toggle.html -%}

  <div id="click-to-top" class="click-to-top" style="z-index: 100;">
    <i class="fa fa-arrow-up"></i>
  </div>
  <script>
    (function () {
      const clickToTop = document.getElementById('click-to-top');
      window.addEventListener('scroll', () => {
        if (window.scrollY > 100) {
          clickToTop.classList.add('show')
        }else {
          clickToTop.classList.remove('show')
        }
      });
      clickToTop.addEventListener('click', () => {
        window.smoothScrollTo(0);
      });
    })();
  </script>

  {{ content }}

  {%- include views/footer.html -%}

</html>