---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<!-- TO FIX -->

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
    <!-- <img class="object-cover mx-auto w-1/2" src="/assets/img/kawaii.png" alt="kawaii logo image"> -->
    <div onmouseover="chiron_lottie.play()" onmouseout="chiron_lottie.stop()">
      <lottie-player id="chiron_lottie" class="object-cover mx-auto w-1/2" src="/assets/images/chiron.json" background="transparent" speed="0.8" loop autoplay></lottie-player>
    </div>
    <div>
      <p style="font-size:3em; font-weight: 700;">Welcome to<br>Chiron's space!</p>
      <p style="font-size:1.25em; font-weight: 500;">I'm a master student 🧑‍🎓/ developer 🧑‍💻/ creator 🧑‍🎨/ explorer 🙋,<br>Living in Stockholm Sweden 🇸🇪.</p></div>
    <div class="typical" id="text_intro_target" style=" margin: 0em;"></div>
  </div>
  <div class="mx-auto text-center prose prose-{{site.theme-color}}">
    <img class="object-cover mx-auto h-36 w-36 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author.image}}"
      alt="author profile image">
    <h1 style="font-size:2.5em;" translate="no">{{site.author.name}}</h1>
    <div id="Japanese_Katakana_Name" style="display: none;">
      <h1 style="font-size:1.25em; font-weight: 600; margin: 0em;" translate="no">ソーン ジーオン</h1>
    </div>
    <div id="Chinese_Hanji_Name" style="display: none;">
      <h1 style="font-size:2.5em; font-weight: 800; margin-top: 0em;"translate="no">宋 子洋</h1>
    </div>
  </div>
  {%- if site.author-bio -%}
  <div class="mx-auto text-center w-4/5 prose prose-{{site.theme-color}}">
    <p class="--tw-prose-body font-light">{{site.author-bio}}</p>
  </div>
  {%- endif -%}
</div>
</div>
<div class="text-center px-4 prose prose-{{site.theme-color}} font-normal">
  {{content}}
</div>

<div id="observe_hanji" class="visually-hidden">Japan</div>
<div id="observe_japan" class="visually-hidden">Hello</div>
<style>
  .visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isHanji() {
      return document.getElementById('observe_hanji').textContent.includes("日");
    }

    function isJapanese() {
      return document.getElementById('observe_japan').textContent.includes("こ");
    }

    // Create a MutationObserver instance
    var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutation) {
          if (isHanji()) {
            document.getElementById('Chinese_Hanji_Name').style.display = 'block';
          } else {
            document.getElementById('Chinese_Hanji_Name').style.display = 'none';
          }
          if (isJapanese()) {
            document.getElementById('Japanese_Katakana_Name').style.display = 'block';
          } else {
            document.getElementById('Japanese_Katakana_Name').style.display = 'none';
          }
        }
      );
    });

    // Get the target node
    var targetNode = document.getElementById('observe_hanji');

    // Start observing the target node for changes in its child nodes
    observer.observe(targetNode, { childList: true, subtree: true, characterData: true });
  });
</script>


{% include social-media.html %}

<div style="display: flex; align-items: center;">
<div class="mx-auto text-center px-4 prose prose-{{site.theme-color}} font-normal" style="display: flex; align-items: center;">
  <div class="md-content md-typeset w-3/4">
    <details class="question" markdown="1">
    <summary>&emsp;More questions?&emsp;</summary>
    
I am so flattered that you have more interest on me. 😁<br>

Please read my <a href="/about">About</a> page or keep my <a href="/assets/file/CV_Ziyang_Song_2025.pdf">CV</a>! 😎<br>

Don't hesitate to contact me if you have any questions and let's keep in touch! 🤝
    
    </details>
  </div>
</div>
</div>

{% include footer.html %}